<div id="<%= dom_id post %>">
  <h3><%= post.title %></h3>
  <h4><%= post.tagline %></h4> 
  <i>
    Posted <%= time_tag post.created_at, "data-local": "time-ago" %> | <%= pluralize post.comments.count, "comment" %>
  </i>
  <p>
    <%= post.content %>
  </p>
</div>